.red{
    background-color: red;
    width: 400px;
    height: 500px;
    margin: 100px auto;
    /*Following 3 lines  written as a single one*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    /*border-color: grey;*/
    border: 10px solid green  
}
.blue{
    background-color: blue;
    width: 400px;
    height: 500px;
}