.red{
    background-color: red;
    width: 400px;
    height: 500px;
    margin: 100px auto;
    /*padding-top:50px; */
    padding: 50px;
}
.blue{
    background-color: blue;
    width: 400px;
    height: 500px;
}